/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tw Cen MT, sans-serif;
}

/* Body styling */
body {
    background-color: #68915e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Container styling */
.container {
    background-color: #ffffff;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Form header */
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333333;
    font-size: 24px;
}

/* Labels */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555555;
}

/* Input fields */
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s;
}

/* Input hover/focus effects */
input:focus {
    border-color: #4fd42d;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.2);
}

/* Submit button */
button {
    width: 100%;
    padding: 12px;
    background-color: #4fd42d;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Button hover effect */
button:hover {
    background-color: #4fd42d;
}

/* Link styling */
.connexion-link {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.connexion-link a {
    color: black;
    text-decoration: none;
}

.connexion-link a:hover {
    text-decoration: underline;
}